
<div class="d-flex justify-content-between">
    <h3 class="text-smallcaps">{% trans %}btn_edit{% endtrans %} {% trans %}issue{% endtrans %}:</h3>
    <button type="button" class="close float-right gaugeCloseBtn" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br>
<input type="text" class="form-control" placeholder="Issue name" id="issueEditName" value="{{ issue.name }}">
<input type="hidden" id="issueEditId" value="{{ issue.id }}">
<br>
<button class="btn btn-success mx-auto pointer" style="display: block; width: 130px;"
        id="issueEditSaveBtn">{% trans %}btn_save{% endtrans %}</button>

{% if issue.canUserManage %}
    <div class="mt-5">
        <div class="d-flex justify-content-between">
            <div>
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-2x fa-exclamation-triangle text-warning mt-2"></i>
                    </div>
                    <div class="col-10">
                        <b class="float-left">{% trans %}btn_delete{% endtrans %} {% trans %}issue{% endtrans %}</b><br>
                        Permanently deletes this one issue.
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-danger pointer float-right" id="issueEditDelete">
                {% trans %}btn_delete{% endtrans %} {% trans %}issue{% endtrans %}</button>
        </div>
        <input type="hidden" id="issueDeleteId" value="{{ issue.pageId }}">
    </div>
{% endif %}

<div class="m-0 p-0 d-md-block d-lg-none">&nbsp;</div>