
<div class="d-flex justify-content-between">
    <h3>Edit issue</h3>
    <button type="button" class="close float-right gaugeCloseBtn" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br>