<h2 class="text-center">Are you sure you want to <span id="questionText"></span>?</h2>
<input type="hidden" id="questionCall" value="">
<input type="hidden" id="questionValue1" value="">
<input type="hidden" id="questionValue2" value="">

<div class="row px-5 mt-5">
    <button class="btn btn-success mx-auto" style="display: block; width: 130px;"
            id="questionYes">Yes</button>
    <button class="btn btn-danger mx-auto" style="display: block; width: 130px;"
            id="questionNo">No</button>
</div>