
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-variant: small-caps;
}

/*
 * Dashboard
 */

.nobtn {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
}

.borderless {
    border: none;
}

.pointer {
    cursor: pointer;
}
.question {
    cursor: help;
}
.move {
    cursor: move;
}

.hover-shown {
    display: inline-block;
}
.hover:hover .hover-shown {
    display: none;
}
.hover-hidden {
    display: none;
}
.hover:hover .hover-hidden {
    display: block;
}

.my-primary-dark { background-color: #008ba3; }

.bg-ad1457 { background-color: #ad1457; }
.bg-008ba3 { background-color: #008ba3; }
.bg-455a64 { background-color: #455a64; }
.bg-0277bd { background-color: #0277bd; }
.bg-795548 { background-color: #795548; }
.bg-ffffff { background-color: #ffffff; }

.bg-ad1457-light { background-color: #ff84b2; }
.bg-ad1457-light:hover { background-color: #e35183; }
.bg-008ba3-light { background-color: #57C9E2; }
.bg-008ba3-light:hover { background-color: #54bbd4; }
.bg-455a64-light { background-color: #718792; }
.bg-455a64-light:hover { background-color: #455a64; }
.bg-0277bd-light { background-color: #90d6ff; }
.bg-0277bd-light:hover { background-color: #58a5f0; }
.bg-795548-light { background-color: #a98274; }
.bg-795548-light:hover { background-color: #795548; }

.color900c3f { background-color: #900c3f;  }
.colorc70039 { background-color: #c70039;  }
.colorff5733 { background-color: #ff5733;  }
.colorff8d1a { background-color: #ff8d1a;  }
.colorffc300 { background-color: #ffc300;  }
.coloreddd53 { background-color: #eddd53;  }
.coloradd45c { background-color: #add45c;  }
.color57c785 { background-color: #57c785;  }
.color00baad { background-color: #00baad;  }
.color2a7b9b { background-color: #2a7b9b;  }
.color3d3d6b { background-color: #3d3d6b;  }
.color511849 { background-color: #511849;  }

/* **********************************************
 * ****** CUSTOM RADIO BUTTONS with colors ******
 * **********************************************/
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-container input { /*!* Hide the browser's default radio button *!*/
    position: absolute;
    opacity: 0;
}
.checkmark { /* Create a custom radio button */
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 10%;
}
.container:hover input ~ .checkmark { /* On mouse-over, add a grey background color */
    filter: brightness(85%);
}
.checkmark:after { /* Create the indicator (the dot/circle - hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after { /* Show the indicator (dot/circle) when checked */
    display: block;
}
.container .checkmark:after { /* Style the indicator (dot/circle) */
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
}

/* **********************************************
 * ****** CUSTOM CHECKBOX for days in week ******
 * **********************************************/
.days input {
    display: none;
}

.days input + label {
    color: #aaa;
    cursor: pointer;
}

.days input:checked + label {
    color: #333;
}

.days label {
    margin: 5px 10px 5px 10px;
}

.days {
    display: inline;
    font-weight: bold;
    font-size: large;
}

/* **********************************************
 * ***** CUSTOM CHECKBOX for user portraits *****
 * **********************************************/
.userChecklist input {
    display: none;
}
.userChecklist input +  label {
    cursor: pointer;
}
.userChecklist input:not(:checked) + label .userChecklistAnonymous .user-image-anonymous-bg-big {
    background-color: #aaa !important;
}
.userChecklist input:not(:checked) + .userChecklistLogged {
    filter: grayscale(100%);
}
/* **********************************************
 * *************** USER PORTRAITS ***************
 * **********************************************/
.user-portrait {
    border-radius: 999em;
    padding: 0;
    margin: 0;
}
.user-image-anonymous-bg-small {
    display: inline-block;
    z-index: 1;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    left: 3px;
    border-radius: 999em;
}
.user-image-anonymous-bg-big {
    display: inline-block;
    z-index: 1;
    width: 36px;
    height: 34px;
    position: relative;
    top: 5px;
    left: 2px;
    border-radius: 999em;
}
.user-image-anonymous-small {
    border: none;
    margin: 0;
    font-size: 36px;
    z-index: 2;
}
.user-image-anonymous-big {
    border: none;
    margin: 0;
    font-size: 41px;
    z-index: 2;
}
.user-image-google-small {
    width: 34px;
}
.user-image-google-big {
    width: 40px;
}

/* **********************************************
 * ***************  ***************
 * **********************************************/
.card {
    box-shadow: 0 0 5px 2px #CCCCCC;
    border: none;
    border-radius: 0;
}
.text-smallcaps {
    font-variant: small-caps;
}
.my-dropdown { /* Add shadow behind dropdown menu dialog */
    -webkit-box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    -moz-box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    border: 1px solid #dbdbdb;
 }
.my-dropdown:after { /* little arrow to dropdown menus */
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.card-columns {
    column-count: 3;
}
.dashboard-userlist {
    top: -40px;
    position: relative;
}

.menubtn {
    filter: brightness(110%);
}
.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
