
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

.nobtn {
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
}

.borderless {
    border: none;
}

.pointer {
    cursor: pointer;
}

.my-primary {
    background-color: #00bcd4;
}
.my-primary-dark {
    background-color: #008ba3;
}
.my-secondary {
    background-color: #0277bd;
}

.user-portrait {
    border-radius: 999em;
    padding: 0;
    margin: 0;
}
.user-image-anonymous-small {
    border: none;
    margin: -3px;
    font-size: 36px
}
.user-image-anonymous-big {
    border: none;
    margin: -3px;
    font-size: 40px
}
.user-image-google-small {
    width: 34px;
}
.user-image-google-big {
    width: 40px;
}
.card {
    box-shadow: 0 0 5px 2px #CCCCCC;
    border: none;
    border-radius: 0;
}
.text-smallcaps {
    font-variant: small-caps;
}
/* Add shadow behind dropdown menu dialog */
.my-dropdown {
    -webkit-box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    -moz-box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    box-shadow: 0 0 10px 0 rgba(168,168,168,1);
    border: 1px solid #dbdbdb;
 }
/* little arrow to dropdown menus */
.my-dropdown:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.card-columns {
    column-count: 3;
}