
/* **********************************************
 * *************** USER HELP ***************
 * **********************************************/
#tips-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.tips-text-60{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 60%;
    position: relative;
    top: 10px;
}
.tips-text-small{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 100%;
    position: relative;
    left: 50%;
}
.tips-text-left-50{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 45%;
    left: 25%;
    position: absolute;
    top: 120px;
}
.tips-text-right-50{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 50%;
    right: 0;
    position: absolute;
    top: 150px;
}
.tips-text-top-50{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 100%;
    left: 50%;
    position: absolute;
    top: 150px;
}
.tips-text-top-small{
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    z-index: 3;
    width: 100%;
    left: 50%;
    position: absolute;
    top: 150px;
}
.tipsHideForever {
    cursor: pointer;
    color: #fff;
    font-size: medium;
}